In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("Titanic1.csv")
df.head(10)                         # to check the starting rows
df.tail(5)                          # to check the last rows

    Unnamed: 0 Class     Sex    Age Survived  Freq
27          28  Crew    Male  Adult      Yes   192
28          29   1st  Female  Adult      Yes   140
29          30   2nd  Female  Adult      Yes    80
30          31   3rd  Female  Adult      Yes    76
31          32  Crew  Female  Adult      Yes    20

In [7]:
list_of_predifined_queries=['a','b','c']
com='d'
if com not in list_of_predifined_queries:
    print('cool')
else:
    print('hot')

cool

In [ ]:
print(df.dtypes)      # to check datatypes of all feuturess
print(df.shape)       # to check no. of rows and columns

In [ ]:
x=df.copy()      # to create a new file with same data 
x.head(3)

In [ ]:
print(x.columns)     #to check names of columns

In [ ]:
x.columns=['numbers','standard','m/f','age','lives','times']     #to change the names of coloumns head
x.head()

In [ ]:
x.describe()          #tells some description and calculations

In [ ]:
x.age                #gives to acces a particular coloumn
x['age']             # does same as (x.age)
x.isnull().sum()     # tells us about the null values in data
x.iloc[1:4,2:4]      # to acces particular data
x.isnull().sum()

In [ ]:
x.head()
#a=x.drop(1)      #drop remove a element whose label is (1) on a copy
#print(a)
#x.drop(1,True)
#x.head()

In [ ]:
x.index[10],x.index[4]

In [ ]:
#x.drop(10)                           # drop by label
x.drop(x.index[7],inplace=True)      # drop by position
x.drop(x.index[[0,1]],inplace=True)   # to remove 0 and 1 positions
x.head()

In [ ]:
x[x.Freq>50]               #to acces data with a condition
x[x.Freq>50].describe()    #access description for a particular conditinal data

In [ ]:
# To add a row
print(x.head())
print(x.iloc[0])    # to loacte position wise 
print(x.loc[2])     #to locate label wise

In [ ]:
# To add a row

x.loc[0]=[2,'crew','Female','adult','yes',10]       #add by label(at tail)
x.iloc[0]=[2,'crew','Female','adult','yes',10]      #add by position(at head)
print(x.head())
print(x.tail())

In [ ]:
# to alot index 

x.reset_index()
x.describe()
x.reset_index(drop=True, inplace=True)      #will not create a copy 
x.index

In [ ]:
#to drop a cloumn

x.drop('Sex', axis=1)   # axis = 1 gives acces to columns

del x['Age']
x.describe()

In [ ]:
x.describe()
x.head()

In [ ]:
# to add a column

x['Army']=10+x['Freq']
x.head(7)

In [ ]:
# to add NAN values

x.iloc[2:4,4:6]=np.nan      #using numpy
x.head(7)

In [ ]:
# to fill NAN entries

x.Class.fillna(x.Army.mean(), inplace=True)
x.Sex.fillna(x.Freq.mean(), inplace=True)
x.Army.fillna(x.Army.mean(), inplace=True)

x.iloc[4:6,4:6]=np.nan

a=x[x.Sex=='Female',]
x.Freq.fillna(a.Freq.mean())
x.Army.fillna(a.Army.mean())
x.head(7)

In [ ]:
x['catergotry']='rich'
x.Freq.fillna(x.Army.mean(),inplace=True)
x.Army.fillna(x.Freq.mean(),inplace=True)
x.iloc[2:10,6]='middle'
x.iloc[12:20,6]='poor'
x.head()
def f(s):
    if s=='rich':
        return 3
    elif s=='midle':
        return 2
    else :
        return 1
x['category_no']=x.catergotry.apply(f)
x.head()